.sider-container {
    height: 100%;
    width: 30%;
}

.recommendation {
    height: 25%;
    width: 100%;
}

.lineChart {
    height: 30%;
    width: 100%;
}

.pieChart {
    height: 30%;
    width: 100%;
}